<form action="" class="application-form">
	<div class="section-title_2">Яку марку авто ви б хотіли?</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="input">
				<div class="input__caption">Марка машини</div>
				<input type="text" placeholder="Введіть марку" />
			</div>
		</div>
		<div class="col-lg-3">
			<div class="input">
				<div class="input__caption">Ваше ім’я</div>
				<input type="text" placeholder="Введіть Ваше ім’я" />
			</div>
		</div>
		<div class="col-lg-3">
			<div class="input">
				<div class="input__caption">Телефон</div>
				<input type="tel" placeholder="+38 (0__) __ __ ___" />
			</div>
		</div>
		<div class="col-lg-3">
			<button type="submit" class="btn-primary btn-brown btn-no-size">
				Хочу замовити
			</button>
		</div>
	</div>
</form>
