<div class="row car-models__row">
	<div class="col-lg-3">
		<div class="product-card">
	<div class="product-card__img">
		<div class="owl-carousel">
			<img src="./img/product-card_1.jpg" alt="img" />
			<img src="./img/product-card_1.jpg" alt="img" />
			<img src="./img/product-card_1.jpg" alt="img" />
			<img src="./img/product-card_1.jpg" alt="img" />
		</div>
		<div class="stickers"></div>
	</div>
	<a href="" class="product-card__title">Audi - size “L”</a>
	<div class="product-card-bottom">
		<div class="product-card-bottom-price price">
			<div class="price__old"></div>
			<div class="price__current">1 250 ₴</div>
		</div>
		<a href="#" class="btn-secondary btn-border btn-size-3">Детальніше</a>
	</div>
</div>

	</div>
	<div class="col-lg-3">
		<div class="product-card">
	<div class="product-card__img">
		<div class="owl-carousel">
			<img src="./img/product-card_9.jpg" alt="img" />
			<img src="./img/product-card_9.jpg" alt="img" />
			<img src="./img/product-card_9.jpg" alt="img" />
			<img src="./img/product-card_9.jpg" alt="img" />
		</div>
		<div class="stickers"><div class="stickers__item">Хіт!</div></div>
	</div>
	<a href="" class="product-card__title">Audi - size “XL”</a>
	<div class="product-card-bottom">
		<div class="product-card-bottom-price price">
			<div class="price__old"></div>
			<div class="price__current">1 250 ₴</div>
		</div>
		<a href="#" class="btn-secondary btn-border btn-size-3">Детальніше</a>
	</div>
</div>

	</div>
	<div class="col-lg-3">
		<div class="product-card">
	<div class="product-card__img">
		<div class="owl-carousel">
			<img src="./img/product-card_10.jpg" alt="img" />
			<img src="./img/product-card_10.jpg" alt="img" />
			<img src="./img/product-card_10.jpg" alt="img" />
			<img src="./img/product-card_10.jpg" alt="img" />
		</div>
		<div class="stickers"></div>
	</div>
	<a href="" class="product-card__title">Audi 3 - size “L”</a>
	<div class="product-card-bottom">
		<div class="product-card-bottom-price price">
			<div class="price__old"></div>
			<div class="price__current">1 250 ₴</div>
		</div>
		<a href="#" class="btn-secondary btn-border btn-size-3">Детальніше</a>
	</div>
</div>

	</div>
	<div class="col-lg-3">
		<div class="product-card">
	<div class="product-card__img">
		<div class="owl-carousel">
			<img src="./img/product-card_11.jpg" alt="img" />
			<img src="./img/product-card_11.jpg" alt="img" />
			<img src="./img/product-card_11.jpg" alt="img" />
			<img src="./img/product-card_11.jpg" alt="img" />
		</div>
		<div class="stickers"></div>
	</div>
	<a href="" class="product-card__title">Audi - size “L”</a>
	<div class="product-card-bottom">
		<div class="product-card-bottom-price price">
			<div class="price__old"></div>
			<div class="price__current">1 250 ₴</div>
		</div>
		<a href="#" class="btn-secondary btn-border btn-size-3">Детальніше</a>
	</div>
</div>

	</div>
</div>
