<footer class="footer lazy" data-bg="./img/footer-bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<a href="#" class="footer__logo">
					<svg>
						<use href="./img/sprite.svg#logo-white"></use>
					</svg>
				</a>
				<div class="footer__dev">
					Сайт розроблений та підтримується веб-студією ALICOM
				</div>
			</div>
			<div class="col-lg-4">
				<div class="footer-contacts">
					<div class="footer-contacts__icon">
						<svg><use href="./img/sprite.svg#phone"></use></svg>
					</div>
					<a href="" class="footer-contacts__text">+38 (098) 89 89 589</a>
				</div>
				<div class="footer-contacts">
					<div class="footer-contacts__icon">
						<svg><use href="./img/sprite.svg#pin"></use></svg>
					</div>
					<div class="footer-contacts__text">
						м. Львів, вул. Під Голоском 15-б
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer-contacts">
					<div class="footer-contacts__icon">
						<svg><use href="./img/sprite.svg#mail"></use></svg>
					</div>
					<a href="#" class="footer-contacts__text"> suveniry_ua@gmail.com </a>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="social">
					<a href="#" class="social__item">
						<svg><use href="./img/sprite.svg#viber"></use></svg>
					</a>
					<a href="#" class="social__item">
						<svg><use href="./img/sprite.svg#inst"></use></svg>
					</a>
					<a href="#" class="social__item">
						<svg><use href="./img/sprite.svg#telegram"></use></svg>
					</a>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="footer__copyright">Політика конфіденційності</div>
			</div>
		</div>
	</div>
</footer>

<script src="./js/app.min.js"></script>
</body>
</html>
