<header class="header">
	<div class="container">
		<div class="header__row">
			<a href="#" class="header__logo">
				<svg><use href="./img/sprite.svg#logo"></use></svg>
			</a>
			<ul class="header-menu">
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Акції</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Подарунки</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Переваги</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Відгуки</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Як замовити</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Контакти</a>
				</li>
			</ul>
			<div class="social">
				<a href="#" class="social__item">
					<svg><use href="./img/sprite.svg#inst"></use></svg>
				</a>
			</div>

			<div class="header-mobile__btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>

	<!-- <div class="header-mobile__wrapper"></div> -->
</header>
