<div class="modal modal_big" id="product-card">
	<div class="modal__wrapper">
		<div class="product-card__img">
			<div class="owl-carousel">
				<img src="./img/product-card_1.jpg" alt="img" />
				<img src="./img/product-card_2.jpg" alt="img" />
				<img src="./img/product-card_3.jpg" alt="img" />
				<img src="./img/product-card_4.jpg" alt="img" />
			</div>
			<div class="stickers">
				<div class="stickers__item">New</div>
			</div>
		</div>
		<div class="modal-product__description">
			<div class="modal-product__title">Audi - size “L”</div>
			<div class="modal-product-price price">
				<div class="price__caption">ЦІНА:</div>
				<div class="price__wrapper">
					<div class="price__old">1 350 ₴</div>
					<div class="price__current">1 250 ₴</div>
				</div>
			</div>

			<ul class="modal-product__list">
				<li class="modal-product__list-item">Матеріал: дерево.</li>
				<li class="modal-product__list-item">Розміри: 48*50*20.</li>
				<li class="modal-product__list-item">У комплекті: 4 рюмки.</li>
				<li class="modal-product__list-item">
					У середині є місце для пляшки напою.
				</li>
				<li class="modal-product__list-item">Пляшка алкоголю на вибір.</li>
			</ul>
			<div class="modal-product__notice">
				Напишіть нам свої побажання і ми підберемо мінібар для вас, і не тільки
				мінібар, а ще й пляшку алкогольного напою.
			</div>
			<div class="modal-product__btns">
				<a href="#" class="btn-primary btn-brown btn-size-5">Замовити зараз</a>
				<a href="#" class="btn-primary btn-size-2 btn-border">
					Замовити консультацію
				</a>
			</div>
		</div>
	</div>
</div>

<div class="modal modal_small" id="order">
	<div class="modal__title">Audi - size “L”</div>
	<div class="modal__price">
		<div class="modal__price-caption">ЦІНА:</div>
		<div class="modal__price-wrapper">
			<div class="modal__price-old">1 350 ₴</div>
			<div class="modal__price-current">1 250 ₴</div>
		</div>
	</div>
	<form action="" class="modal-form">
		<div class="input">
			<div class="custom-select">
				<div class="custom-select__caption">Колір</div>
				<select>
					<option value="0">Select car:</option>
					<option value="1">Audi</option>
					<option value="2">BMW</option>
					<option value="3">Citroen</option>
					<option value="4">Ford</option>
					<option value="5">Honda</option>
					<option value="6">Jaguar</option>
					<option value="7">Land Rover</option>
					<option value="8">Mercedes</option>
					<option value="9">Mini</option>
					<option value="10">Nissan</option>
					<option value="11">Toyota</option>
					<option value="12">Volvo</option>
				</select>
			</div>
		</div>
		<div class="input">
			<div class="input__caption">Номерний знак</div>
			<input type="text" placeholder="Введіть марку" />
		</div>
		<div class="modal-form__checkbox-caption">Потрібно, лого чи емблема:</div>
		<label class="custom-checkbox">
			<input type="checkbox" />
			<span class="checkmark"></span>
			Так
		</label>

		<div class="input">
			<div class="input__caption">Коментар</div>
			<textarea name="" id="" cols="30" rows="2" placeholder="Не обов’язково">
			</textarea>
		</div>
		<div class="modal-form__present">
			<img src="./img/bottle.png" alt="img" />
			<div class="modal-form__present-text">
				Пляшка <b>ЗУБРОВКИ</b> у подарунок!
			</div>
		</div>
		<button type="submit" class="btn-primary btn-brown btn-no-size">
			Замовити
		</button>
	</form>
</div>

<div class="modal modal_middle" id="request">
	<div class="section-title">Заповніть форму</div>
	<div class="subtitle">
		Щоб дізнатися докладніше і наш менеджер св’яжеться з Вами впродовж 15 хв
	</div>

	<form action="" class="modal-form">
		<div class="input">
			<div class="input__caption">Номерний знак</div>
			<input type="text" placeholder="Введіть марку" />
		</div>
		<div class="input">
			<div class="input__caption">Номерний знак</div>
			<input type="text" placeholder="Введіть марку" />
		</div>
		<div class="input">
			<div class="input__caption">Коментар</div>
			<textarea name="" cols="30" rows="2" placeholder="Не обов’язково">
			</textarea>
		</div>
		<button type="submit" class="btn-primary btn-brown btn-no-size">
			Замовити
		</button>
	</form>
</div>
