<div class="product-card">
	<div class="product-card__img">
		<div class="owl-carousel">
			<img src="./img/product-card_@@img.jpg" alt="img" />
			<img src="./img/product-card_@@img.jpg" alt="img" />
			<img src="./img/product-card_@@img.jpg" alt="img" />
			<img src="./img/product-card_@@img.jpg" alt="img" />
		</div>
		<div class="stickers">@@sticker</div>
	</div>
	<a href="" class="product-card__title">@@title</a>
	<div class="product-card-bottom">
		<div class="product-card-bottom-price price">
			<div class="price__old">@@old-price</div>
			<div class="price__current">@@current-price</div>
		</div>
		<a href="#" class="btn-secondary btn-border btn-size-3">Детальніше</a>
	</div>
</div>
